<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>{{titlepage}}</title>
</head>
<body>
  {{>header}}

  <p>about us about us about us about us about us </p>  
    
   {{>footer}}
</body>

</html>