<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>site is under repair</title>
</head>
<body>
  <h1>site is under repair</h1>

  <p>we coming son back </p>
  <p>{{ welcomeMessage}}</p>

  {{>footer}}   
</body>
</html>